:root {
  --filter-saturation: 1;
  --filter-brightness: 0.5;
}

.gallery {
    margin: 3em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 15vw);
    grid-gap: 15px;
}
.gal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gal-img:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    filter: opacity(var(--filter-brightness)) saturate(var(--filter-saturation));
    animation-name: hoverHL; /*Hover Highlight*/
    animation-duration: 200ms;
}

.gal-box-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gal-box-2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gal-box-5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.gal-box-7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.gal-box-9 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}

/* Flippable images */
.gal-box {
    position: relative;
    transform-style: preserve-3d;
    transition: 0.7s;
}
.gal-text {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    cursor: pointer;    
    overflow: hidden;
}
.gal-text a {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}


@keyframes hoverHL {
    0% {
        filter: opacity(1) saturate(1);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
    }
    100% {
        filter: opacity(var(--filter-brightness)) saturate(var(--filter-saturation));
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    }
}
