/*
The primary stylesheet for Oolith. This sheet pulls in all the components in order of appearance.
*/

@import url('CSS/reset.css');
@import url('CSS/accessibility.css');
@import url('CSS/layout.css');
@import url('CSS/typography.css');
@import url('CSS/masthead.css');
@import url('CSS/navigation.css');
@import url('CSS/images.css');

.site-title a {
    font-size: 0.7em;
}
.content {
    padding: 0em;
    text-align: center;
}
.hexagon {
    margin: auto;
    width: 100%;
    background-color: #1BBBD9;
    text-align: center;
}
.hexagon:hover {
    background-color: hsla(183, 50%, 70%, 1);
}

.hex-text {
    margin: auto;
    margin: 0.5em auto;
    padding: 10%;
}

.hexagon a {
    font-family: monospace;
    text-decoration: none;
    font-size: 1.2em;
    color: #28303C;
}
@media screen and (min-width: 550px) {
    .site-title a {
        font-size: 1em;
    }
    .hexagon {
        margin: auto;
        width: 70%;
        background-color: #1BBBD9;
        text-align: center;
    }
}


/*
THE FOLLOWING IS FOR HEXTEST
*/
/*
.hexleft {
    float: left;
    border-right: 10em solid #6C6;
    border-top: 15em solid transparent;
    border-bottom: 15em solid transparent;
}
.hex {
    float: left;
    width: 20em;
    height: 30em;
    background-color: #6C6;
}

.hexright {
    float: left;
    border-left: 10em solid #6C6;
    border-top: 15em solid transparent;
    border-bottom: 15em solid transparent;
}
*/

/*
MORE HEXTESTING
*/
/*
.body {
    background-color: hsl(0, 0%, 90%);
}

#grid {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    /* skew a div to create a diamond, making sure it works in all browsers *)/
    -o-transform: rotate(30deg) skewY(30deg);
    -moz-transform: rotate(30deg) skewY(30deg);
    -webkit-transform: rotate(30deg) skewY(30deg);
    -ms-transform: rotate(30deg) skewY(30deg);
    transform: rotate(30deg) skewY(30deg);
    background: #fd005f;
    /* clip the next shape to fit in this shape *)/
    overflow: hidden;
    /* hide the mask shape *)/
    visibility: hidden;
}

#grid li .hexagon {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fdbf00;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    /* clip anything inside the hex *)/
    overflow: hidden;
} 
#grid li .hexagon:hover {
    background-color: #fecf11;
}
*/
.body {
    background-color: hsl(0, 0%, 90%);
}

.hexes {
    position: relative;
    width: 100%;
    margin: 0 0 1em;
    padding: 0;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.hexes a {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    /* skew a div to create a diamond, making sure it works in all browsers */
    -o-transform: rotate(30deg) skewY(30deg);
    -moz-transform: rotate(30deg) skewY(30deg);
    -webkit-transform: rotate(30deg) skewY(30deg);
    -ms-transform: rotate(30deg) skewY(30deg);
    transform: rotate(30deg) skewY(30deg);
    background: #fd005f;
    /* clip the next shape to fit in this shape */
    overflow: hidden;
    /* hide the mask shape */
    visibility: hidden;
}

.hexes a .hexagon {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fdbf00;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    /* clip anything inside the hex */
    overflow: hidden;
} 
.hexes a .hexagon:hover {
    background-color: #fecf11;
}
