@import "variables.scss";
@import "mixins.scss";
@import "base.scss";

.masthead {
    background-color: $darkgreen;
    
    a {
        color: $offgrey;
    }
}
.hex-text {
    background-color: rgba(0, 0, 0, 0);
    #hex1 & {
        @include backImage('../images/gallery.jpg');
    }
    #hex2 & {
        @include backImage('../kids_design/images/banner_about.png');
    }
}