* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #050545;
}
.content h1 {
    text-align: center;
    font-size: 2.5em;
}
footer {
    background-color: #000;
    width: 100%;
    padding: 20px;
}
@media screen and (max-width: 780px) {
    
}
@media screen and (max-width: 1000px) {
    
}